h1{
	color: #AD4753;
	/*border: 1px solid red;*/
	text-align: center;
	/*text-decoration: line-through;*/
	/*display: inline;*/
	margin: 0;
	padding: 0;
}
h2{
	border: 1px solid red;
}
#ex1{
	font-size: 2em;
	/*font-weight: bold;*/
	font-family: Arial;
	color: green;
}
#ex2{
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	color: blue;
}
li{
	list-style-type: none;
	float: left;
}
